<!doctype html>
<html lang="{{ site:short_locale }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="format-detection" content="telephone=no">
        <link rel="canonical" href="{{ permalink }}" />
        <link rel="stylesheet" href="{{ mix src='css/styles.css' }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;900&display=swap" rel="stylesheet">

        {{ partial:partials/favicon }}
        {{ partial:partials/meta_data }}

        {{ partial:gtm/consent }}
        {{ partial:gtm/gtm }}
    </head>
    <body {{ if template == 'timeline/index' }}x-data="timeline()"{{ /if }}>

        {{ partial:partials/header }}

        <main>
            {{ template_content }}
        </main>

        {{ partial:partials/footer }}

        <script src="{{ mix src='/js/site.js' }}"></script>
    </body>
</html>
