<nav class="navbar">
    <div class="navbar__container">
        <img src="/img/logo_cc_30_let.svg" width="200" height="33" alt="Logo - Česká centra"/>
        <ul class="navigation">
            {{ nav:main }}
                <li class="navigation__item {{ if is_current || is_parent }} navigation__item--active{{ /if }}">
                    <a
                        class="navigation__item__link"
                        href="{{ url }}"
                    >
                        {{ title }}
                    </a>
                </li>
            {{ /nav:main }}
        </ul>
    </div>
</nav>
