<nav class="navbar">
    <div class="navbar__container">
        <img src="{{ glide:general:logo }}" width="200" alt="Logo - Česká centra"/>
        <ul class="navigation">
            {{ nav:main }}
                <li class="navigation__item navigation__item--active">
                    <a
                        class="navigation__item__link"
                        href="{{ url }}"
                    >
                        {{ title }}
                    </a>
                </li>
            {{ /nav:main }}
        </ul>
    </div>
</nav>
