<footer class="footer footer--timeline">
    {{ collection:timeline as="timeline" }}
        {{ if !no_results }}
            <ul class="footer-axis">
                {{ timeline group_by="event_date|Y" }}
                    {{ groups }}
                        <li
                            id="control-{{ group }}"
                            class="footer-axis__item"
                            :class="{ 'footer-axis__item--active': activeYear === {{ group }} }"
                            @click="activeYear = {{ group }}"
                        >
                            <a
                                class="footer-axis__item__link"
                                href="#timeline-{{ group }}"
                                title="{{ title }}"
                            >
                                <span
                                    class="footer-axis__item__link__year"
                                >
                                    {{ group }}
                                </span>
                                <span class="footer-axis__item__link__active"></span>
                        </a>
                        </li>
                    {{ /groups }}
                {{ /timeline }}
            </ul>
        {{ /if }}
    {{ /collection:timeline }}
</footer>
