{{ collection:timeline  as="timeline" }}
    {{ if !no_results }}
        <ul
            class="timeline__axis"
            id="timeline-axis"
        >
            <li
                class="axis-item axis-item--start"
            >
            </li>
            {{ timeline }}

                {{ $year = event_date | iso_format("Y") }}
                <li
                    class="axis-item {{ if (prev:event_date | iso_format("Y")) == (event_date | iso_format("Y")) }}axis-item--same-year{{ /if }}"
                    data-year="{{ $year }}"
                >
                    <a
                        class="axis-item__plus"
                        href="{{ url }}"
                        title="{{ title }}"
                        @click.prevent="fetchSidebarContent('{{ url }}')"
                        id="marker-{{ index }}"
                    >
                        &nbsp
                        <div
                            class="axis-item__plus__line"
                            {{ unless (prev:event_date | iso_format("Y")) == (event_date | iso_format("Y")) }}
                                id="timeline-mark-{{ $year }}"
                                data-year="{{ $year }}"
                            {{/unless}}
                        >
                        </div>
                    </a>
                    <h3 class="axis-item__title">{{ title }}</h2>
                    <h4 class="axis-item__country">
                        <img src="{{ cities:flag }}" width="18" height="18" class="flag" />
                        <span>{{ cities:country }}</span>
                    </h3>
                    <p class="axis-item__perex">
                        {{ perex | widont(3) ?? 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit' }}
                    </p>
                    {{ unless (prev:event_date | iso_format("Y")) == (event_date | iso_format("Y")) }}
                        <img
                            class="axis-item__photo"
                            :class="{ 'axis-item__photo--active' : activeYear === {{ $year }} }"
                            src="{{ glide :src="background_image ?? 'https://s3.eu-central-1.amazonaws.com/30-years.czechcentres.cz/timeline/sofie/58-cc-sofie.jpg'" width="660" height="360" fit="crop_focal" }}"
                            alt="{{ title }}"
                            id="photo-{{ $year }}"

                        />
                    {{ /unless }}
                </li>
            {{ /timeline }}
        </ul>
        <div
            class="timeline-year"
            id="active-year"
            :style="activeYearImage && typeof activeYearImage === 'number' ? 'background-image: url(/img/' + activeYearImage + '.svg);' : ''"

        >
    </div>
    {{ /if  }}
{{ /collection:timeline }}
