<div class="timeline-wrapper">
    <div
        class="timeline"
        id="timeline"
        @scroll="checkIntersectection;"
    >
        <div class="timeline__center" id="timeline-center">
        </div>
        {{ partial:partials/intro }}
        {{ partial:partials/timeline }}
    </div>

    {{ partial:partials/sidebar }}

    <div
        class="sidebar-overlay"
        :class="{ 'sidebar-overlay--show': sidebarOpen }"
        @click.prevent="sidebarOpen = !sidebarOpen"
    >
    </div>
</div>


