<div class="block page-content">
    <div class="block__container">
        <h1 class="mb-0">{{ title }}</h1>

        <h2 class="city">
            <img src="{{ cities:flag }}" width="32" height="32" class="flag"/>
            <span>{{ cities:title }}</span>
        </h2>
        <h3>{{ event_date | month_name | ucfirst }} {{ event_date iso_format="Y" }}</h3>

        <div>
            {{ page_content }}
                {{ partial src="sets/{type}" }}
            {{ /page_content }}
        </div>
    </div>
</div>

