<div class="block page-content {{ class }}">
    <div class="block__container">
        <h1>{{ title }}</h1>

        <h3 class="title-with-image">
            <img src="{{ cities:flag }}" width="32" height="32" class="flag"/>
            {{ cities:country }}{{ if !dont_show_month }}, {{ event_date | month_name }} {{ event_date iso_format="Y" }}{{ /if}}
        </h3>

        <div>
            {{ page_content }}
                {{ partial src="sets/{type}" }}
            {{ /page_content }}
        </div>
    </div>
</div>

