.axis-item {
  display: block;
  width: 75vw;
  position: relative;

  &:nth-child(1),
  &:nth-child(2) {
    &::before {
      content: " ";
      @include marker;
      position: absolute;
      left: 5px;
      top: -153px;
    }

  }

  &__plus {
    cursor: pointer;
    position: absolute;
    display: block;
    width: 46px;
    height: 46px;
    background-color: var(--blue);
    transition: background-color 0.3s ease;
    text-decoration: none;

    &:hover {
      background-color: var(--light-blue);
    }

    &::before {
      transform-origin: center;
      content: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHZpZXdCb3g9IjAgMCAxOCAxOCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHJlY3QgeT0iOCIgd2lkdGg9IjE4IiBoZWlnaHQ9IjEiIGZpbGw9IndoaXRlIi8+CjxyZWN0IHg9IjkiIHdpZHRoPSIxOCIgaGVpZ2h0PSIwLjk5OTk5OSIgdHJhbnNmb3JtPSJyb3RhdGUoOTAgOSAwKSIgZmlsbD0id2hpdGUiLz4KPC9zdmc+Cg==');
      width: 18px;
      height: 18px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &__line {
      position: absolute;
      content: " ";
      display: block;
      background-color: var(--gray-light);
      width: 1px;
      height: 91px;
      top: -108px;
      left: calc(50% - 1px);
    }
  }

  &:not(.axis-item--start) {
    &::after {
      position: absolute;
      content: attr(data-year);
      font-style: normal;
      font-weight: 700;
      font-size: 74px;
      line-height: 74px;
      width: 200px;
      text-align: center;
      display: block;
      left: -77px;
      top: -294px;
    }
  }

  &__month,
  &__title,
  &__country,
  &__perex {
    padding-left: 86px;
    padding-top: 0;
  }

  &__month {
    font-weight: 300;
    font-size: 22px;
    line-height: 28px;
    color: var(--black);
    text-transform: capitalize;
    margin: 9px 0 0 0;
    padding-bottom: 9px;
  }

  &__title {
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    color: var(--dark-blue);
    margin: 0;
  }

  &__country {
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    color: var(--dark-blue);
    margin: 0;
    padding-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;

    img {
      margin-right: 6px;
    }
  }

  &__perex {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: var(--black);
    width: 430px
  }

  &__photo {
    position: fixed;
    pointer-events: none;
    opacity: 0;
    width: 660px;
    height: 360px;
    top: calc(50% - 337px);
    right: 0;
    z-index: -1;
    /* bottom: 230px;
    left: 100%;


    filter: grayscale(100%) brightness(150%);
    transition: opacity 0.5s linear;
  */

    &--active {
      opacity: 0.5;
    }

    /* &--hide {
      animation: slide-left 1s ease-in-out forwards;
    } */
  }

  &--start {
    width: var(--mark-span);

    &::before {
      background-color: var(--blue) !important;
    }

  }

  &--intersected-center {
    &::before {
      display: none !important;
    }
  }

  &--same-year {

    &::before,
    &::after {
      content: unset;
      visibility: hidden;
    }
  }
}
