.director {
  display: flex;
  margin: 60px 0 60px 0;
  align-items: center;

  @include media-breakpoint-down(md) {
    flex-wrap: wrap;
  }


  &__photo {
    width: 100px;
    height: 100px;
    margin: 0 !important;
  }

  &__name {
    padding-left: 30px;
    color: var(--black) !important;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    margin: 0 !important;

    small {
      display: block;
      font-weight: 400;
      font-size: 14px;
    }
  }

  &__signature {
    padding-left: 30px;
    margin: 0 !important;

    @include media-breakpoint-down(md) {
      margin: 0 0 0 auto !important;
    }
  }
}


.generalni-reditele {
  ol {
    padding-top: 40px;
    list-style-type: none;
    padding-left: 150px;
    position: relative;

    @include media-breakpoint-down(md) {
      padding-left: 110px;
    }

    li {
      position: relative;

      p {
        @include media-breakpoint-down(md) {
          margin-bottom: 40px;
        }

      }

      em {
        font-size: 24px;
        position: absolute;
        background-color: var(--blue);
        padding: 7px 1px;
        width: 95px;
        text-align: center;
        color: var(--white);
        font-weight: 700;
        left: -150px;
        top: -8px;
        border-bottom: 8px solid #fff;
        border-top: 8px solid #fff;

        @include media-breakpoint-down(md) {
          border: none;
          top: 0px;
          left: -110px;
        }
      }

      strong {
        font-size: 24px;
        color: var(--red);

        @include media-breakpoint-down(md) {
          font-size: 21px;
        }
      }

      &:last-of-type {
        em {
          border-bottom: 60px solid #fff;
          @include media-breakpoint-down(md) {
          }

        }
      }
    }

    &::before {
      position: absolute;
      background-color: var(--gray-light);
      left: 50px;
      content: "";
      height: 100%;
      width: 1px;
    }
  }
}
