.timeline-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  overflow-x: hidden;

  @include media-breakpoint-down(md) {
    align-items: flex-start;
    overflow: visible;
  }

  &--is-tablet {
    overflow-x: scroll;
  }

}

.timeline {
  display: flex;
  width: 100%;
  height: calc(100% - 170px);
  align-items: center;
  scroll-behavior: smooth;
  position: relative;
  z-index: 2;

  @include media-breakpoint-down(md) {
    flex-wrap: wrap;
  }

  &__intro {
    display: flex;
    column-gap: 47px;
    margin-top: -70px;

    @include media-breakpoint-down(xl) {
      column-gap: 27px;
    }

    @include media-breakpoint-down(md) {
      column-gap: 15px;
      margin-top: 50px;
    }

    &__image {
      margin-left: 100px;

      @include media-breakpoint-down(xl) {
        margin-left: 25px;
        width: 48%;
        height: 48%;
      }

      @include media-breakpoint-down(md) {
        margin-left: auto;
        width: 120px;
        height: 120px;
      }
    }

    &__text {
      width: 465px;

      @include media-breakpoint-down(md) {
        width: 50%;
      }

      h1,
      h2,
      h3,
      p,
      a {
        color: var(--blue);
      }

      h1 {
        text-transform: uppercase;
        margin-top: -15px;
        font-size: 95px;
        line-height: 103px;
        margin-bottom: 49px;
        padding: 0;

        @include media-breakpoint-down(xl) {
          font-size: 64px;
          line-height: 71px;
          margin-bottom: 27px;
        }

        @include media-breakpoint-down(md) {
          margin-top: -6px;
          font-size: 30px;
          line-height: 32px;
          margin-bottom: 12px;
        }

        strong {
          color: var(--red);
          display: block;
        }
      }

      h2 {
        font-size: 36px;
        line-height: 30px;
        margin-bottom: 0;
        padding-bottom: 0;
        white-space: nowrap;

        @include media-breakpoint-down(xl) {
          font-size: 25px;
          line-height: 25px;
        }

        @include media-breakpoint-down(md) {
          font-size: 12px;
        }
      }

      p {
        font-size: 21px;
        font-weight: 700;
        margin-bottom: 21px;
        padding: 0;
      }
    }
  }

  &__axis {
    display: flex;
    position: relative;
    padding-top: 324px;
    margin-left: 110px;

    @include media-breakpoint-down(md) {
      flex-wrap: wrap;
      padding-top: 130px;
      margin-left: 0;
      padding-left: 10px;
      padding-right: 10px;
    }

    &::after,
    &::before {
      position: absolute;
      left: 30px;
      top: 186px;
      content: " ";
      width: 100%;
      height: 2px;
      z-index: 0;
      background-color: var(--gray-light);

      @include media-breakpoint-down(md) {
        display: none;
      }
    }

    &::before {
      z-index: 1;
      min-width: var(--mark-span);
      width: var(--red-line-width);
      background-color: var(--red);

      @include media-breakpoint-down(md) {
        display: block;
        width: 1px;
        min-width: 1px;
        height: 100%;
        left: 27px;
        z-index: -1;
        top: 70px;
        background-color: var(--gray-light);
      }
    }
  }

  &__center {
    @include marker;
    opacity: 0;
    position: fixed;
    left: calc(50%);
    margin-top: -64px;
    z-index: 10;

    &--visible {
      opacity: 1;
    }

    @include media-breakpoint-down(md) {
      display: none;
    }
  }
}
