.timeline-year {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  text-align: center;
  pointer-events: none;
  opacity: 1;
  transition: opacity 0.3s ease-in;
  background-image: url('/img/null.svg');
  background-repeat: no-repeat;
  background-position: var(--year-x-position) var(--year-y-position);
  background-size: auto;
  transition: background-image 0.2s ease-in-out;
}
