.timeline-year {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  text-align: center;
  pointer-events: none;
  opacity: var(--timeline-year-opacity);
  transition: opacity 0.1s linear;
  background-image: url('/img/null.svg');
  background-repeat: no-repeat;
  background-position: var(--year-x-position) var(--year-y-position);
  background-size: auto;

  @include media-breakpoint-down(xl) {
    background-size: 90%;
    background-position: center 40%;
  }
}
