.footer {
  margin-top: auto;
  padding-bottom: 0;

  &__container {
    @extend .block__container;
  }

  &--timeline {
    padding-left: 20px;
    padding-right: 20px;
  }

  &__axis {
    display: flex;
    width: 100%;
    line-height: 0;
    justify-content: space-evenly;

    &__item {
      display: inline-block;
      position: relative;
      width: 18px;
      height: 15px;
      line-height: 0;

      &::before {
        color: var(--black);
        content: attr(data-year);
        display: block;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        left: -10px;
        position: absolute;
        text-align: center;
        top: -11px;
        width: 40px;
        opacity: 0;
        transition: opacity 0.3s ease-in;
      }

      &__link {
        text-decoration: none;
        line-height: 0;
        padding: 0;
        display: inline-block;
        width: 9px;
        height: 15px;
        position: relative;
        margin-left: 8px;

        &::before,
        &::after {
          transition: all 0.15s ease-in;
        }

        &::after {
          position: absolute;
          bottom: 0;
          content: " ";
          width: 2px;
          height: 15px;
          display: block;
          background-color: var(--gray);
        }

        &::before {
          transform-origin: center center;
          position: absolute;
          opacity: 0;
          content: " ";
          top: -3px;
          left: -3px;
          width: 8px;
          height: 8px;
          transform: scale(0);
          display: block;
          background-color: var(--red);
        }
      }

      &:hover {
        &::before {
          opacity: 1;
        }
      }

      &--active {

        .footer__axis__item__link {
          &::after {
            background-color: var(--red);
          }

          &::before {
            opacity: 1;
            transform: scale(1);
          }
        }

      }
    }
  }
}
