html,
body {
  height: 100%;
}

body {

  font-family: 'Inter', sans-serif;
  color: var(--blue);
  background: var(--white);
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

[x-cloak] {
  display: none !important;
}

::-webkit-scrollbar {
  display: none;
}
