html,
body {
  height: 100%;
}

body {

  font-family: 'Inter', sans-serif;
  color: var(--blue);
  background: var(--white);
  display: flex;
  flex-direction: column;

  &.page {
    background-image: url('/img/page_content_bg.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center -66px;
  }
}

main {
  flex: 1;
}

[x-cloak] {
  display: none !important;
}

::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar in WebKit-based browsers */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar in Firefox */
/* Note: `scrollbar-width` is a CSS property introduced in Firefox 64 */
/* See: https://developer.mozilla.org/en-US/docs/Web/CSS/scrollbar-width */
* {
  scrollbar-width: none;
}

/* Hide scrollbar in Internet Explorer and Edge */
* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
