body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Inter', sans-serif;
  color:  var(--blue);
  background: var(--white);
}

[x-cloak] { display: none !important; }
