.navbar {
  background-color: var(--white);

  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 16px;
    padding-bottom: 13.5px;
    position: relative;
    box-sizing: border-box;

    &::after {
      content: '';
      position: absolute;
      /* set the position property to absolute to position the pseudo-element */
      bottom: 0;
      left: 20px;
      right: 20px;
      border-bottom: 1px solid var(--gray-light);
    }
  }

  &__toggle {
    background-image: url('/img/hamburger.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 23px 16px;
    width: 23px;
    height: 35px;
    border: none;
    background-color: transparent;
    outline: none;
    position: absolute;
    top: 15px;
    right: 20px;
    transition: all 0.1s ease-in-out;

    @include media-breakpoint-up(md) {
      display: none;
    }

    &--open {
      background-image: url('/img/close.svg');
      background-size: 18px 18px;
    }
  }
}
