.navbar {
  background-color: var(--white);
  &__container {
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 16px;
    padding-bottom: 13.5px;
    position: relative;
    box-sizing: border-box;
    &::after {
      content: '';
      position: absolute; /* set the position property to absolute to position the pseudo-element */
      bottom: 0;
      left: 20px;
      right: 20px;
      border-bottom: 1px solid var(--gray-light);
    }
  }

  &__toggle {
    background: url('/img/hamburger.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 23px 16px;
    width: 23px;
    height: 35px;
    border: none;
    background-color: transparent;
    outline: none;
  }
}
