@mixin media-breakpoint-down($breakpoint) {
  $breakpoint-value: map-get($breakpoints, $breakpoint);

  @media (max-width: $breakpoint-value) {
    @content;
  }
}

@mixin media-breakpoint-up($breakpoint) {
  $breakpoint-value: map-get($breakpoints, $breakpoint);

  @media (min-width: $breakpoint-value) {
    @content;
  }
}


@mixin marker {
  width: 22px;
  height: 22px;
  border: 6px solid var(--white);
  display: block;
  background-color: var(--red);
}
