h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  color: var(--dark-blue);
  margin-bottom: 26px;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}

h1 {
  font-size: 44px;
  line-height: 50px;
  margin-bottom: 30px;
}

p, ul, li {
  font-size: 16px;
  line-height: 28px;
  color: var(--black);
}
