:root {
  --blue: #033e9f;
  --dark-blue: #001948;
  --red: #d32a1c;
  --black: #444444;
  --white: #FFFFFF;
  --container-size: 1110px;
  --section-padding: 110px;
}

$breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);
